# DataFrame Data Structure

## Some Basic Operations

In [1]:
import pandas as pd

#create empty data frame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
#Create a DataFrame from Lists
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
#Create a DataFrame from Dict of ndarrays / Lists
data1 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df1 = pd.DataFrame(data1)
print(df1)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [4]:
#Create a DataFrame from List of Dicts
data2 = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df2 = pd.DataFrame(data2)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
#give coloumn names & index(Row no.) to dataframe
data3 = [['Alex',10],['Bob',12],['Clarke',13],['John',15]]
df3 = pd.DataFrame(data3,index=[1,2,3,4] ,columns=['Name','Age'])
print(df3)

     Name  Age
1    Alex   10
2     Bob   12
3  Clarke   13
4    John   15

In [6]:
data4 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df4 = pd.DataFrame(data4, index=['rank1','rank2','rank3','rank4'])
print(df4)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

## Accessing Data from Dataframe with Diff. Position

In [7]:
#Column Selection

da1 = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

d1 = pd.DataFrame(da1)
print(d1['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [8]:
#Column Addition
da2 = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

d2 = pd.DataFrame(da2)

# Adding a new column to an existing DataFrame object with column label by passing new series
print ("Adding a new column by passing as Series:")
d2['three']=pd.Series([10,20,30],index=['a','b','c'])
print(d2)

print ("Adding a new column using the existing columns in DataFrame:")
d2['four']=d2['one']+d2['three']

print(d2)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [9]:
#Column Deletion

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

# using del function
print ("Deleting the first column using DEL function:")
del(df['one'])
print(df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [10]:
#Slice Rows
da5 = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

d5 = pd.DataFrame(da5)
print(d5[2:4])

   one  two
c  3.0    3
d  NaN    4

In [11]:
#Addition of Rows
da6 = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
da7 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

da6 = da6.append(da7)
print(da6)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

C:\Users\Omkar Khade\AppData\Local\Temp\ipykernel_14756\2180476565.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  da6 = da6.append(da7)

In [12]:
#Deletion of Rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
1  3  4
1  7  8

C:\Users\Omkar Khade\AppData\Local\Temp\ipykernel_14756\1884628829.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)