#  Series Data Scructure

## Some Basic Operations

In [1]:
import pandas as pd
import numpy as np

In [2]:
#to check pandas version
pd.__version__

'1.4.2'

In [3]:
#Create an Empty Series
import pandas as pd
s1 = pd.Series()
print(s1)

Series([], dtype: float64)

C:\Users\Omkar Khade\AppData\Local\Temp\ipykernel_15844\603274757.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1 = pd.Series()

In [4]:
#create series data structure from scalar
scalar = pd.Series(5)
print(scalar)

0    5
dtype: int64

In [5]:
#create series data structure from list
list1=[1,2,-3,0.6,'string_value']
series1=pd.Series(list1)
print(series1)

0               1
1               2
2              -3
3             0.6
4    string_value
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
#Create a Series from dict
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s2 = pd.Series(data)
print(s2)

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
#index changing

s5 = pd.Series(5, index=[0, 1, 2, 3])
print(s5)

data = np.array(['a','b','c','d'])
s3 = pd.Series(data,index=[100,101,102,103])
print('New index for list:')
print(s3)

print('New index for list:')
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s4 = pd.Series(data,index=['b','c','d','a'])
print(s4)

0    5
1    5
2    5
3    5
dtype: int64
New index for list:
100    a
101    b
102    c
103    d
dtype: object
New index for list:
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [9]:
#data type change
s6= pd.Series(5, index=[0, 1, 2, 3],dtype=float)
print(s6)

0    5.0
1    5.0
2    5.0
3    5.0
dtype: float64

In [10]:
#changing name of column
data = np.array(['a','b','c','d'])
s3 = pd.Series(data,index=[100,101,102,103],name='column1')
print('New index for list:')
print(s3)

New index for list:
100    a
101    b
102    c
103    d
Name: column1, dtype: object

## Accessing Data from Series with Diff. Position

In [11]:

se1 = pd.Series([1,2,3,4,5,6],index = ['a','b','c','d','e','f'])
print(se1)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [12]:
#Retrieve the first three elements in the Series
print(se1[:3])

a    1
b    2
c    3
dtype: int64

In [13]:
#Retrieve the last three elements.
print(se1[-3:])

d    4
e    5
f    6
dtype: int64

In [14]:
#Retrieve Data Using Label (Index)

print('for single element')
print(se1['a'])

print('for multiple elements')
print(se1[['a','b','c','d']])

for single element
1
for multiple elements
a    1
b    2
c    3
d    4
dtype: int64

## Mathematical Operations

In [15]:
se2 = pd.Series([5,6,31,40,25,6],index = ['a','b','c','d','e','f'])
se3 = pd.Series([2,3,4,5,5,7],index = ['a','b','c','d','e','f'])

In [16]:
#maximum value in array
max(se2)

40

In [17]:
#minimum values in array
min(se2)

5

In [18]:
#addition
se2+se3

a     7
b     9
c    35
d    45
e    30
f    13
dtype: int64

In [19]:
#subtraction
se2-se3

a     3
b     3
c    27
d    35
e    20
f    -1
dtype: int64

In [20]:
#multipliction
se2*se3

a     10
b     18
c    124
d    200
e    125
f     42
dtype: int64

In [21]:
#division
se2/se3

a    2.500000
b    2.000000
c    7.750000
d    8.000000
e    5.000000
f    0.857143
dtype: float64

In [22]:
#print numbers which are greater than 3
se2[se2>3] #we can perform same operations for other Comparison Operators

a     5
b     6
c    31
d    40
e    25
f     6
dtype: int64